<!DOCTYPE html>
<html style="height: 80%">
  <head>
    <meta charset="utf-8" />
    <title>filescout</title>
    <meta name="viewport" content="initial-scale=1, width=device-width" />
  </head>
  <body style="height: 100%">
    <div style="height: 100%" id="root"><%- component %></div>
    <script defer="defer" src="<%= assets["client.js"] %>"></script>
  </body>
</html>
